{% extends "layout2.html" %}

{% block title %}
    Inbox
{% endblock %}

{% block main %}
    
 

    
    <form action="{{ url_for('inbox') }}"  method="post">
        <div class = "container centerreg">
        <div style = "margin-right: 5%;" class = "left">
            
        <div style = "background-color: #D5E76C;" class = "indexbox4 yellowdottedborder">
            <span class = "bebas font-gray font-med3">
            Messages with users who <b><u><div>have books you want!</div></u></b> 
            </span>
        </div>
        
        {% for buy in buying %}
                <br>
                <div class="form-group">
                    <button class="btn-lg my-btn-default hvr-fade" name = "click" value={{buy.convoid}} type="submit">See Messages with <b>{{buy.sellersusername}}</b> about <b>"{{buy.textbook}}"</b></button>
                </div>
                </br>
        {% endfor %}
        </div>



        <div class = "left">
            <div style = "background-color: #D5E76C;" class = "indexbox4 yellowdottedborder" id = "trans-bg">
             <span class = "bebas font-gray font-med3">
            Messages with users who <b><u><div>want your books!</div></u></b>
            </span>
            </div>
         {% for sell in selling %}
         

                
                <div class="form-group">
                    <br>
                    <button class="btn-lg my-btn-default hvr-fade" name = "click" value={{sell.convoid}} type="submit">See Messages with <b>{{sell.buyerusername}}<b> about <b>"{{sell.textbook}}"</b></button>
                    </br>
                </div>
        {% endfor %}
        </div>
        </div>
        </form>
{% endblock %}