{% extends "layout2.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}



    <div class="container">
    <form action="{{ url_for('sell') }}" data-toggle="validator" method="post">
        <fieldset>
            
            <div class = "marginsides yellowdottedborder" style = "margin = 2%" id = "trans-bg">
            <span class = "grandhotel font-gray font-med2">
                Sell Your Textbook
            </span>
        </div>
            
            <div style ="margin: auto; margin-top: 1%; width: 40%;">
            <div class="paddingup2 yellowdottedborder" id="trans-bg">
            
            <div class="form-group">
                <label for="course" class="control-label"></label>
                <input autocomplete="off"  class="form-control" name="course" placeholder="Course (e.g. Econ 10a)" required type="text"/>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label for="text" class="control-label"></label>
                <input class="form-control" name="textbook" placeholder="Textbook Name" required type="text"/>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label for="price" class="control-label"></label>
                <input class="form-control" name="price" placeholder="Price" required type="text"/>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label for="notes" class="control-label"></label>
                <input class="form-control" name="notes" placeholder="Condition" required type="text"/>
                <div class="help-block with-errors"></div>
            </div>
            <div style = "margin: auto;" class = "bebas font-gray font-med2" id = "smgreencircle">
                    Note: <div style = "font-size: 20px; padding-top: 2%;" class = "grandhotel"> Cheaper textbooks are listed higher up! </div>
            </div>
            <div class="form-group paddingup">
                <button class="btn-lg my-btn-default hvr-fade" type="submit">Post Listing</button>
            </div>
            </div>
            </div>
        </fieldset>
    </form>
    
    </div>
    
{% endblock %}