{% extends "layout2.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

    
    <form action="{{ url_for('buy') }}"  method="post">
  
    <div class="container">
        
        <div class = "marginsides yellowdottedborder" style = "margin = 2%" id = "trans-bg">
            <span class = "grandhotel font-gray font-med2">
                Search by Class Abbreviation
            </span>
        </div>
        
                <div class="form-group loginbox3 yellowdottedborder marginsides" id = "trans-bg">
                    <label for="email" class="control-label"></label>
                    <input autocomplete="off" autofucs class="form-control" name="class" placeholder="Course (e.g. Econ 10a)" type="text"/>
                    <br></br>
                <div class="form-group">
                    <button class="btn-lg my-btn-default hvr-fade" name = "button" type="submit">Search</button>
                </div>
                </div>
    <div style="text-align: center;">
        
        {% if nosearchresults == 0 %}
        
        <div style = "margin: auto;" class = "bebas font-gray font-med2" id = "smgreencircle2">
                    No results found! <div style = "font-size: 20px; padding-top: 2%;" class = "grandhotel"> Please enter course in Harvard abbreviation (e.g. Econ 10a) </div>
            </div>
            
        {% endif %}

        
        {% for list in lists %}

            <div class = "indexbox2" id = "trans-bg">
                <div class = "grandhotel font-gray font-med2">
                    {{list.textbook}} - 
                    {{list.course}}
                </div>
                <div id = "price-heading">
                    ${{list.price}}
                </div>
                <div>
                <span class = "grandhotel font-gray font-med2">
                    Seller: 
                </span>
                <span class = "bodytext2">
                    {{list.email}}
                </span>
                </div>
                <div>
                <span class = "grandhotel font-gray font-med2">
                Notes: 
                </span>
                <span class = "bodytext2">
                {{list.notes}}
                </span>
                </div>
                <div style = "margin-top: 2%;" class="form-group">
                    <button class="btn-lg my-btn-default hvr-fade" type="submit" name="name" value="{{list.listingid}}">Contact seller</button>
                </div>
            </div>
        {% endfor %}
        
        </div>
        </form>
{% endblock %}