{% extends "layout2.html" %}

{% block title %}
    Log Out
{% endblock %}

{% block main %}
    <div class="container">
    <form action="{{ url_for('about') }}" method="post">
        <fieldset>
            
            <div id = "trans-bg">
            <div style = "margin: 2% 0 4% 0; border-color: #feff69; border-style: dotted none dotted none;" id="title3">
            Thanks for using <span id="title1-1"> SWAP </span><span id="title2-1">book</span><span id="title3"></span>, {{name}}!
            </div>
            </div>
            
            
        </fieldset>
    </form>
    </div>
{% endblock %}