{% extends "layout2.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <div style="float: left;">
    <div style = "padding-top: 10%;" id = "greencircle" class= "welcometext1 margindown">Welcome, {{name}}!
    <span class = "welcometext2"><p>Ready to swap?</p></span></div>
    <div id = "yellowcircle" class="grandhotel font-gray font-med3 paddingup2">To contact a seller, search for a book
    in the <span class="bebas"> "Buy" </span>tab.</div>
    </div>
    
    <h1 class = "bebas font-green indexbox" id = "trans-bg">New Listings</h1>
    <form action="{{ url_for('index') }}" method="post">
        <div style="text-align: center;">
            {% for display in displays %}
            
            <div class = "indexbox" id = "trans-bg">
                <div class = "grandhotel font-gray font-med2">
                    {{display.textbook}} - 
                    {{display.course}}
                </div>
                <div id = "price-heading">
                    ${{display.price}}
                </div>
                <div>
                <span class = "grandhotel font-gray font-med2">
                    Seller: 
                </span>
                <span class = "bodytext2">
                    {{display.email}}
                </span>
                </div>
                <div>
                <span class = "grandhotel font-gray font-med2">
                Condition: 
                </span>
                <span class = "bodytext2">
                {{display.notes}}
                </span>
                </div>

            </div>
                
                
            {% endfor %}
        </div>
    </form>
{% endblock %}